<div class="col-3">
  <div class="border rounded p-2 bg-light" style="max-height: 100vh; overflow: auto;">
    <h2><%= title %></h2>

    <% if tasks.count == 0 %>
      <p class="text-muted">No tasks for now</p>
    <% end %>

    <% tasks.each do |task| %> 
      <%= render 'tasks/index/card', task: task %>
    <% end %>
  </div>
</div>