<nav class="flex items-center justify-between flex-wrap bg-red-100 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <a href="#" class="contents mt-4 lg:mt-0 text-red-300 hover:bg-red-100 mr-4">
            <%= image_tag('task_icon.png', size: "40") %>
            <span class="font-semibold text-xl tracking-tight text-red-400 pl-3">Task Manager</span>
        </a>
    </div>

    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
        </div>
        <div>
            <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-red-300 border-red-300 hover:text-red-300 hover:bg-white mt-4 lg:mt-0">
                Create
            </a>
        </div>
    </div>
</nav>